@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

* {
  cursor: none !important;
}

/* Apply filter only on LinkedIn image hover */
.linkedin-icon {
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.linkedin-icon:hover {
  filter: invert(27%) sepia(50%) saturate(2500%) hue-rotate(180deg); /* Blue color */
}